.item {
	padding: 15px;
	border-radius: 20px;
	background: rgba(#fff, 0.8);
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	display: inline-block;
	margin: 0 auto 15px;
}

.title {
	font-size: 20px;
	margin-bottom: 10px;
	color: $default-color;
}

.count {
	font-size: 14px;
	color: $default-color;

	span {
		font-weight: 600;
	}
}
